.github/
.idea/
.vscode/
build/tests/
compiled/
examples/
src/
tests/
.bithoundrc
.travis.yml
.typingsrc
CHANGELOG.md
CONTRIBUTING.md
rollup.config.js
tsconfig.json
tsconfig.build.json
tsconfig.test.json
tslint.json
