<h1>Hello World</h1>

<h2>Add new</h2>
<input type="text" placeholder="First name" #firstName />
<input type="text" placeholder="Last name" [(ngModel)]="lastName" />
<input type="submit" value="Add user" (click)="newUser(firstName.value)" />

<h2>List</h2>

<input type="search" placeholder="Type name..." [(ngModel)]="nameFilter" />

<div *ngIf="data.loading">loading ...</div>

<ul *ngIf="!data.loading">
  <li *ngFor="let user of data.users">
    {{ user.firstName }} {{ user.lastName }}
  </li>
</ul>
